@charset "UTF-8";

/*
 em HTML é id = em CSS é # (só pode um elemento)
 em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
color: #1e402f
}
h1#principal{
 text-align: center;   
 background-color: #3c805e;
 color: white;
}

h2{
 color: #3c805e;
}
.basico {
   color:  #3c805e;
   font-weight: bold;
}

.intermediario {
    color: #ffe600;
}
.avancado {
    color: #d82929;
}

.destaque{
    background-color: yellow;
}