@charset "UTF-8";
 


:root{
    --cor1: #7D96CC;
    --cor2: #6180C2;
    --cor3:  #475E8F;
    --cor4:  #414652; 
    --cor5: #212C42;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightgrey;
}

header > h1{
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.514);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5) );
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
   }

nav{
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.438);
    padding: 10px;
}

nav > a{
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}


nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

a.externo::after{
    content: '\00A0\1F517';
}


div.video > iframe{
    top: 10;
    left: 10%;
    width: 90%;
    height: 90%;
  }
  

  aside > ul{
  list-style-type: '\2714\00A0\00A0'; /* Para colocar um emoji exemplo: 
  '\2714\00A0' não pode esquecer da barra e os outros números para dar espaço */ /* E também não é 
  compativel com todos os navegadores*/
  list-style-position: inside;
  columns: 2;
  }

   aside > h3{
     background-color: var(--cor4);
     color: white;
     padding: 10px;
     margin: -10px -10px 0px -10px; /* margem negativa  '10px' em cima  '10px' direita  '0px' em baixo
      '10px' e na esquerda*/
     border-radius: 10px 10px 0px  0px ;
 }

  aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.267);
}


main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px ;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.472);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p{
    margin: 15px 0px;
    text-align: justify;   
    text-indent: 15px;
    font-size: 1em;
    line-height: 1.5em;
  }

  footer p{
    text-align: center;
    color: white;
    background-color: var(--cor3);
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 2.5px;
}