@charset "UTF-8";

body {
    display: grid;
    grid-template-areas:
      "header header header"
      "aside main main"
      "footer footer footer";
  }
  .o-header {
    grid-area: header;
  }
  
  .o-aside {
    grid-area: aside;
  }
  
  .o-main {
    grid-area: main;
  }
  
  .o-footer {
    grid-area: footer;
  }
  .o-header, .o-aside, .o-main, .o-footer {
    background: #BC20E2;
    color: #FDFDFD;
  }
  body {
      grid-gap: 1rem;
  }
  body {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 100vh auto;
  }
  