*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #F0F2F5;
    font-family: Helvetica, sans-serif;
    padding-left: 50px;
    padding-right: 50px;    
}

body, input, button{
    font-family: Helvetica, sans-serif;
}

.container{
    max-width: 980px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-top: 130px;
    padding-bottom: 200px;
    align-items: center;
    gap: 40px;
}


 
.intro{
    margin-bottom: 50px;
}

.logo{
    display: block;
    max-width: 100%;
    height: 106px;
    margin: -28px;
}

h2{
    
    font-weight: 400px;
    font-size: 28px;
    color: #1c1e21;
    max-width: 500px;
    line-height: 32px;
}

form{
  background: #fff;
  padding: 16px 16px 24px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

form a, input, button{
    display: block;
}

input{
    width: 100%;
    margin-bottom: 12px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    outline: none;
}

input:focus{
  border-color: #1877f2;
  box-shadow: 0 0 0 2px #e7f3ff;
  caret-color: #1877f2;
}

input[placeholder]{
    font-family: Helvetica, sans-serif;
    font-weight: 100;
}

input::placeholder {
  font-size: 18px;
  color: #1d2129;
  opacity: 0.6;
}

form a {
    font-size: 14px;
    color: #1877f2;
    text-align: center;
    display: block;
    margin-top: 16px;
    text-decoration: none;
    padding-bottom: 16px;
    border-bottom: 1px solid #dadde1;
}

form a:hover{
    text-decoration: underline;
}

.entrar, .criar-conta{
    font-weight: bold;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 16px;
    cursor: pointer;
    text-align: center;
    transition: 200ms cubic-bezier(.08, .52, .52, 1);
}

.entrar{
    font-size: 20px;
    background: #1877f2;
    width: 100%;
    border: none;
    padding: 16px;
}

.entrar:hover{
        background: #166fe5 ;

}

.criar-conta{
    font-size: 17px;
    background: #42b72a;
    margin: 0 auto;
    margin-top: 24px;
}

.criar-conta:hover{
    background: #36a420;
}

p, p > a{
    color: #1c1e21;
    font-size: 14px;
    margin: 28px 0 0 0;
}

p > a{
    font-weight: bold;
    text-decoration: none;
}

p > a:hover{
    text-decoration: underline;
}

footer{
    background: #fff;
    font-size: 14px;
    color: #737373;
    margin-left: -50px;
    margin-right: -50px;
    text-align: center;
    height: 219px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
    .logo{
            margin: -28px auto;
    }
    .intro {
        text-align: center;
        margin: 0 auto;
    }
    p{
        text-align: center;
    }
    form{
        max-width: 480px;
        margin: 0 auto;
    }
  }