@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(25, 25, 25);
}

.line {
    border-right: 2px solid rgba(255, 255, 255, .75);
    color: rgba(255,255,255, 0.75);
    font-family: 'Special Elite', monospace;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor 500ms steps(80) infinite normal, 
    typing 6s steps(80) 2s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 18em;
    }
}

@keyframes blinkCursor{
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}