*, *::before, *::after{
    box-sizing: border-box;
    font-family: Roboto, Arial;
}

body{
    margin: 0;
}

.video-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border: 4px solid #ccc;
}

